<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma 1ere page avec Openclassrooms</title>
    </head>
    <body>
    <h1>Hello {{ nom }}</h1>

    <p>
    Le hello world est un grand classique en programmation.
    Il signifie énormément, car cela veut dire que vous avez 
    réussi à exectuer le programme pour accomplir une tâche simple:
    afficher ce hello world
    </p>
    </body>
</html>